.sinlgeCard_img {
  background-position: center center;
  background-size: cover;
  position: relative;
}
.singlecard_img ::before {
  content: "";
  background: linear-gradient(rgb(0, 0, 0, 1), rgb(0, 0, 0, 1));
  position: absolute;
  height: 93.3vh;
  width: 100%;
  opacity: 0.3;
  z-index: -100;
}

.sinlgeCard_container {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  height: 93.3vh;
  color: #ffe6a7;
}

.sinlgeCard_description {
  font-size: 1.4rem;
  margin-left: 50px;
  color: #ffe6a7;
  background-color: #56483e46;
}
.divcritica {
  display: none;
}
.divcritica2 {
  display: flex;
}
.sinlgeCard_description button {
  margin: auto;
  border-radius: 10px;

  background-color: #6f1d1b;
  font-weight: bold;
  font-size: 15px;
  border: none;
  color: #ffe6a7;
  margin-top: 10px;
  width: 10%;
}
.divbuttoncritica {
  display: flex;
  justify-content: center;
}
