.home {
  background-image: url("https://img.freepik.com/free-vector/cinematograph-concept-background-design-with-popcorn-3d-glasses_260559-142.jpg?w=2000");
  min-height: 97vh;
  background-size: cover;
}
